In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', None)

In [2]:
df_geo = pd.read_csv('SE.txt', delimiter='\t', header=None)
df_county = pd.read_csv('county_registrations_yearly_.csv')

In [3]:
df_county.describe(include='all')

,County,County code,Year,Fuel type,Region,Count
count,18270,18270.000000,18270,18270,18270,18270.000000
unique,290,NaN,9,7,21,NaN
top,Upplands Väsby,NaN,1/1/2013,Diesel,Västra Götalands län,NaN
freq,63,NaN,2030,2610,3087,NaN
mean,NaN,1382.089655,NaN,NaN,NaN,170.129995
std,NaN,714.338849,NaN,NaN,NaN,945.588869
min,NaN,114.000000,NaN,NaN,NaN,0.000000
25%,NaN,764.000000,NaN,NaN,NaN,1.000000
50%,NaN,1439.500000,NaN,NaN,NaN,12.000000
75%,NaN,1981.000000,NaN,NaN,NaN,88.000000
max,NaN,2584.000000,NaN,NaN,NaN,39223.000000

In [661]:
df_geo.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], dtype='int64')

0: id
1: name

4: latitude
5: longitude

7: feature code (ADM1 = Region, ADM2 = County)

10: admin1 code Region name(?)
11: admin2 code (County code)

18: date modified

In [662]:
df_geo1 = df_geo.copy()
df_geo1 = df_geo1[[1,4,5,7,11,18]].sort_values(by=[18])
df_geo1 = df_geo1[df_geo1[7]=='ADM2']

print(len(df_geo))
df_geo1.head(30)


# df_geo.drop_duplicates([1,11], inplace=True, ignore_index=True, keep='last')
# len(df_geo)

96492

                        1         4         5     7       11          18
11784      Vaxholms Kommun  59.40386  18.34167  ADM2   187.0  2012-01-20
31639       Ragunda Kommun  63.19208  16.14989  ADM2  2303.0  2014-04-30
73016       Årjängs Kommun  59.43589  12.10366  ADM2  1765.0  2014-04-30
48724         Kinda Kommun  58.01315  15.73373  ADM2   513.0  2014-04-30
27777        Sävsjö Kommun  57.32883  14.59426  ADM2   684.0  2014-04-30
34253                Orust  58.18025  11.63419  ADM2  1421.0  2014-04-30
48961      Kävlinge Kommun  55.79469  13.07364  ADM2  1261.0  2014-04-30
16554     Tomelilla Kommun  55.61963  14.01975  ADM2  1270.0  2014-04-30
6507         Bodens Kommun  66.04393  21.29977  ADM2  2582.0  2014-04-30
34171   Oskarshamns Kommun  57.37339  16.38303  ADM2   882.0  2014-04-30
72067       Åstorps Kommun  56.14003  12.97259  ADM2  1277.0  2014-04-30
25140       Skurups Kommun  55.47322  13.54550  ADM2  1264.0  2014-04-30
32230     Perstorps Kommun  56.18857  13.37681  ADM2  1275.0  2014-04-30
64149         Eksjö Kommun  57.62006  15.21810  ADM2   686.0  2014-04-30
66400       Burlövs Kommun  55.63873  13.09473  ADM2  1231.0  2014-04-30
49543     Karlstads Kommun  59.47409  13.59961  ADM2  1780.0  2014-04-30
66795      Bromölla Kommun  56.11934  14.51150  ADM2  1272.0  2014-04-30
3577          Piteå Kommun  65.37229  20.85153  ADM2  2581.0  2014-04-30
6807       Älvsbyns Kommun  65.73201  20.71412  ADM2  2560.0  2014-04-30
16102        Torsås Kommun  56.42649  15.89128  ADM2   834.0  2014-04-30
28694        Salems Kommun  59.24572  17.69875  ADM2   128.0  2014-04-30
71964   Åtvidabergs Kommun  58.22799  16.12522  ADM2   561.0  2014-04-30
71875        Avesta Kommun  60.21251  16.36234  ADM2  2084.0  2014-04-30
48358      Klippans Kommun  56.11138  13.23836  ADM2  1276.0  2014-04-30
17231         Timrå Kommun  62.61598  17.37848  ADM2  2262.0  2014-04-30
18300       Svedala Kommun  55.54324  13.26859  ADM2  1263.0  2014-04-30
73934       Alvesta Kommun  56.84663  14.47490  ADM2   764.0  2014-04-30
49086  Katrineholms Kommun  59.01734  16.26049  ADM2   483.0  2014-04-30
50118        Kalmar Kommun  56.66361  16.18569  ADM2   880.0  2014-04-30
27194   Simrishamns kommun  55.58621  14.23778  ADM2  1291.0  2015-07-12

In [663]:
df_geo1[1] = df_geo1[1].apply(lambda x: x if x[-8:] != 's kommun' else x[:-8])
df_geo1[1] = df_geo1[1].apply(lambda x: x if x[-8:] != 's Kommun' else x[:-8])
df_geo1[1] = df_geo1[1].apply(lambda x: " ".join(x for x in x.split() if x != 'Kommun'))
df_geo1[1] = df_geo1[1].apply(lambda x: " ".join(x for x in x.split() if x != 'kommun'))

df_geo1.head()

            1         4         5     7       11          18
11784  Vaxholm  59.40386  18.34167  ADM2   187.0  2012-01-20
31639  Ragunda  63.19208  16.14989  ADM2  2303.0  2014-04-30
73016   Årjäng  59.43589  12.10366  ADM2  1765.0  2014-04-30
48724    Kinda  58.01315  15.73373  ADM2   513.0  2014-04-30
27777   Sävsjö  57.32883  14.59426  ADM2   684.0  2014-04-30

In [664]:
df_joined = df_county.join(df_geo1.set_index([1,11]).drop(columns=[18,7]).rename(columns=({4:'County Longitude', 5:'County Latitude'})),
                         on=['County', 'County code'], how='left')

print(len(df_joined))
df_joined.head()

18270

,County,County code,Year,Fuel type,Region,Count,County Longitude,County Latitude
0,Upplands Väsby,114,1/1/2013,Diesel,Stockholms län,846,59.52382,17.91001
1,Upplands Väsby,114,1/1/2013,Electric hybrids,Stockholms län,33,59.52382,17.91001
2,Upplands Väsby,114,1/1/2013,Electricty,Stockholms län,0,59.52382,17.91001
3,Upplands Väsby,114,1/1/2013,Ethanol,Stockholms län,8,59.52382,17.91001
4,Upplands Väsby,114,1/1/2013,Gas,Stockholms län,686,59.52382,17.91001

In [665]:
df_joined.info()
# some counties are not matched

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18270 entries, 0 to 18269
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   County            18270 non-null  object
 1   County code       18270 non-null  int64
 2   Year              18270 non-null  object
 3   Fuel type         18270 non-null  object
 4   Region            18270 non-null  object
 5   Count             18270 non-null  int64
 6   County Longitude  16884 non-null  float64
 7   County Latitude   16884 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 1.1+ MB

In [666]:
# make a copy of the county name
df_geo1[19] = df_geo1[1]
df_geo1[20] = df_geo1[11]

# join again
df_joined = df_county.join(df_geo1.set_index([1,11]).drop(columns=[18, 7]).rename(columns=({4:'County Latitude', 5:'County Longitude'})),
                         on=['County', 'County code'], how='left')

In [667]:
temp = df_joined.drop_duplicates(['County', 'Region'], ignore_index=True, keep='last')
temp = temp[temp[19].isnull()].reset_index()
temp

,index,County,County code,Year,Fuel type,Region,Count,County Latitude,County Longitude,19,20
0,28,Knivsta,330,1/1/2021,Plug-in hybrids,Uppsala län,98,NaN,NaN,NaN,NaN
1,41,Strängnäs,486,1/1/2021,Plug-in hybrids,Södermanlands län,157,NaN,NaN,NaN,NaN
2,68,Tranås,687,1/1/2021,Plug-in hybrids,Jönköpings län,71,NaN,NaN,NaN,NaN
3,78,Torsås,834,1/1/2021,Plug-in hybrids,Kalmar län,14,NaN,NaN,NaN,NaN
4,81,Mönsterås,861,1/1/2021,Plug-in hybrids,Kalmar län,30,NaN,NaN,NaN,NaN
5,120,Höganäs,1284,1/1/2021,Plug-in hybrids,Skåne län,89,NaN,NaN,NaN,NaN
6,140,Sotenäs,1427,1/1/2021,Plug-in hybrids,Västra Götalands län,37,NaN,NaN,NaN,NaN
7,154,Bengtsfors,1460,1/1/2021,Plug-in hybrids,Västra Götalands län,16,NaN,NaN,NaN,NaN
8,164,Göteborg,1480,1/1/2021,Plug-in hybrids,Västra Götalands län,4442,NaN,NaN,NaN,NaN
9,172,Alingsås,1489,1/1/2021,Plug-in hybrids,Västra Götalands län,192,NaN,NaN,NaN,NaN
10,186,Storfors,1760,1/1/2021,Plug-in hybrids,Värmlands län,7,NaN,NaN,NaN,NaN
11,188,Munkfors,1762,1/1/2021,Plug-in hybrids,Värmlands län,15,NaN,NaN,NaN,NaN
12,190,Grums,1764,1/1/2021,Plug-in hybrids,Värmlands län,19,NaN,NaN,NaN,NaN
13,196,Hagfors,1783,1/1/2021,Plug-in hybrids,Värmlands län,25,NaN,NaN,NaN,NaN
14,202,Degerfors,1862,1/1/2021,Plug-in hybrids,Örebro län,18,NaN,NaN,NaN,NaN
15,203,Hällefors,1863,1/1/2021,Plug-in hybrids,Örebro län,10,NaN,NaN,NaN,NaN
16,230,Falun,2080,1/1/2021,Plug-in hybrids,Dalarnas län,299,NaN,NaN,NaN,NaN
17,237,Hofors,2104,1/1/2021,Plug-in hybrids,Gävleborgs län,20,NaN,NaN,NaN,NaN
18,244,Bollnäs,2183,1/1/2021,Plug-in hybrids,Gävleborgs län,63,NaN,NaN,NaN,NaN
19,250,Kramfors,2282,1/1/2021,Plug-in hybrids,Västernorrlands län,102,NaN,NaN,NaN,NaN
20,264,Robertsfors,2409,1/1/2021,Plug-in hybrids,Västerbottens län,3,NaN,NaN,NaN,NaN
21,270,Vännäs,2460,1/1/2021,Plug-in hybrids,Västerbottens län,19,NaN,NaN,NaN,NaN

Knivsta (330), Göteborg (1480) & Falun (2080) should have matched, need to be looked at separately
For the others, the 's' at the end was removed even though it shouldn't, i.e 'Strängnäs' was changed to 'Strängnä'

In [668]:
exceptions = temp['County'].to_list()
exceptions.remove('Knivsta')
exceptions.remove('Göteborg')
exceptions.remove('Falun')

In [669]:
df_geo1[df_geo1[11]==330]

,1,4,5,7,11,18,19,20
84721,Knivsta muncipality,59.73702,17.78137,ADM2,330.0,2022-04-11,Knivsta muncipality,330.0

In [670]:
df_geo1[df_geo1[11]==1480]

,1,4,5,7,11,18,19,20
59291,Göteborgs stad,57.72288,11.94577,ADM2,1480.0,2022-04-13,Göteborgs stad,1480.0

In [671]:
df_geo1[df_geo1[11]==2080]

         1         4         5     7       11          18    19      20
63184  Falu  60.60483  15.63492  ADM2  2080.0  2022-04-12  Falu  2080.0

In [672]:
df_geo[(df_geo[11]==2080) & (df_geo[7]=='ADM2')]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
63184,2715458,Falu kommun,Falu kommun,"2080,Falu kommun,Falun,Falun Municipality",60.60483,15.63492,A,ADM2,SE,NaN,10.0,2080.0,NaN,NaN,59406,NaN,113,Europe/Stockholm,2022-04-12

In [673]:
exceptions[0][::]

'Strängnäs'

In [674]:
# try again
df_geo1 = df_geo.copy()
df_geo1 = df_geo1[[1,4,5,7,11,18]]
df_geo1 = df_geo1[df_geo1[7]=='ADM2']

df_geo1[1] = df_geo1[1].apply(lambda x: x if (x[-8:] != 's kommun') | (x[:-7] in exceptions) else x[:-8])
df_geo1[1] = df_geo1[1].apply(lambda x: x if (x[-8:] != 's Kommun') | (x[:-7] in exceptions) else x[:-8])
df_geo1[1] = df_geo1[1].apply(lambda x: " ".join(x for x in x.split() if x != 'Kommun'))
df_geo1[1] = df_geo1[1].apply(lambda x: " ".join(x for x in x.split() if x != 'kommun'))

df_geo1[1] = df_geo1[1].apply(lambda x: x if x != 'Knivsta muncipality'  else 'Knivsta')
df_geo1[1] = df_geo1[1].apply(lambda x: x if x != 'Göteborgs stad'  else 'Göteborg')
df_geo1[1] = df_geo1[1].apply(lambda x: x if x != 'Falu'  else 'Falun')

In [675]:
df_joined = df_county.join(df_geo1.set_index([1,11]).drop(columns=[18,7]).rename(columns=({4:'County Latitude', 5:'County Longitude'})),
                         on=['County', 'County code'], how='left')

df_joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18270 entries, 0 to 18269
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   County            18270 non-null  object
 1   County code       18270 non-null  int64
 2   Year              18270 non-null  object
 3   Fuel type         18270 non-null  object
 4   Region            18270 non-null  object
 5   Count             18270 non-null  int64
 6   County Latitude   18270 non-null  float64
 7   County Longitude  18270 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 1.1+ MB

In [676]:
df_joined.head()

,County,County code,Year,Fuel type,Region,Count,County Latitude,County Longitude
0,Upplands Väsby,114,1/1/2013,Diesel,Stockholms län,846,59.52382,17.91001
1,Upplands Väsby,114,1/1/2013,Electric hybrids,Stockholms län,33,59.52382,17.91001
2,Upplands Väsby,114,1/1/2013,Electricty,Stockholms län,0,59.52382,17.91001
3,Upplands Väsby,114,1/1/2013,Ethanol,Stockholms län,8,59.52382,17.91001
4,Upplands Väsby,114,1/1/2013,Gas,Stockholms län,686,59.52382,17.91001

In [677]:
df_geo1[1] = df_geo1[1].apply(lambda x: x if x != 'Sotenä' else 'Sotenäs') # fix a "fixed" name...

In [678]:
# work on the regions..
df_geo2 = df_geo.copy()
df_geo2 = df_geo2[[1,4,5,7]]
df_geo2 = df_geo2[df_geo2[7]=='ADM1']
df_geo2

                            1         4         5     7
4016        Norrbotten County  67.00000  20.00000  ADM1
12423      Västmanland County  59.75000  16.33333  ADM1
12535   Västernorrland County  63.00000  17.50000  ADM1
12656     Västerbotten County  65.00000  17.50000  ADM1
13105         Värmland County  59.75000  13.25000  ADM1
14438          Uppsala County  60.00000  17.75000  ADM1
21868        Stockholm County  59.50000  18.00000  ADM1
24331     Södermanland County  59.25000  16.66667  ADM1
33879     Östergötland County  58.41667  15.75000  ADM1
34658           Örebro County  59.50000  15.00000  ADM1
46942        Kronoberg County  56.66667  14.66667  ADM1
47649          Dalarna County  61.00000  14.50000  ADM1
50117                  Kalmar  57.33333  16.00000  ADM1
50824        Jönköping County  57.50000  14.50000  ADM1
51172         Jämtland County  63.00000  14.66667  ADM1
56583          Halland County  56.75000  13.00000  ADM1
59267          Gotland County  57.50000  18.50000  ADM1
60159        Gävleborg County  61.50000  16.25000  ADM1
69031         Blekinge County  56.33333  15.33333  ADM1
84722            Skåne County  55.98333  13.50000  ADM1
84723  Västra Götaland County  58.00000  13.00000  ADM1

In [679]:
df_geo2[1] = df_geo2[1].apply(lambda x: x if x[-7:] != ' County' else x[:-7])

In [680]:
df_geo2[1]

4016          Norrbotten
12423        Västmanland
12535     Västernorrland
12656       Västerbotten
13105           Värmland
14438            Uppsala
21868          Stockholm
24331       Södermanland
33879       Östergötland
34658             Örebro
46942          Kronoberg
47649            Dalarna
50117             Kalmar
50824          Jönköping
51172           Jämtland
56583            Halland
59267            Gotland
60159          Gävleborg
69031           Blekinge
84722              Skåne
84723    Västra Götaland
Name: 1, dtype: object

In [681]:
df_joined['Region'].unique()

array(['Stockholms län', 'Uppsala län', 'Södermanlands län',
       'Östergötlands län', 'Jönköpings län', 'Kronobergs län',
       'Kalmar län', 'Gotlands län', 'Blekinge län', 'Skåne län',
       'Hallands län', 'Västra Götalands län', 'Värmlands län',
       'Örebro län', 'Västmanlands län', 'Dalarnas län', 'Gävleborgs län',
       'Västernorrlands län', 'Jämtlands län', 'Västerbottens län',
       'Norrbottens län'], dtype=object)

In [682]:
df_joined['Region_temp'] = df_joined['Region'].apply(lambda x: x if x[-5:] != 's län' else x[:-5])
df_joined['Region_temp'] = df_joined['Region_temp'].apply(lambda x: x if x[-4:] != ' län' else x[:-4])
df_joined.head()

,County,County code,Year,Fuel type,Region,Count,County Latitude,County Longitude,Region_temp
0,Upplands Väsby,114,1/1/2013,Diesel,Stockholms län,846,59.52382,17.91001,Stockholm
1,Upplands Väsby,114,1/1/2013,Electric hybrids,Stockholms län,33,59.52382,17.91001,Stockholm
2,Upplands Väsby,114,1/1/2013,Electricty,Stockholms län,0,59.52382,17.91001,Stockholm
3,Upplands Väsby,114,1/1/2013,Ethanol,Stockholms län,8,59.52382,17.91001,Stockholm
4,Upplands Väsby,114,1/1/2013,Gas,Stockholms län,686,59.52382,17.91001,Stockholm

In [683]:
df_joined['Region_temp'].unique()

array(['Stockholm', 'Uppsala', 'Södermanland', 'Östergötland',
       'Jönköping', 'Kronoberg', 'Kalmar', 'Gotland', 'Blekinge', 'Skåne',
       'Halland', 'Västra Götaland', 'Värmland', 'Örebro', 'Västmanland',
       'Dalarna', 'Gävleborg', 'Västernorrland', 'Jämtland',
       'Västerbotten', 'Norrbotten'], dtype=object)

In [684]:
df_geo2[1].to_list()

['Norrbotten',
 'Västmanland',
 'Västernorrland',
 'Västerbotten',
 'Värmland',
 'Uppsala',
 'Stockholm',
 'Södermanland',
 'Östergötland',
 'Örebro',
 'Kronoberg',
 'Dalarna',
 'Kalmar',
 'Jönköping',
 'Jämtland',
 'Halland',
 'Gotland',
 'Gävleborg',
 'Blekinge',
 'Skåne',
 'Västra Götaland']

In [685]:
df_joined2 = df_joined.join(df_geo2.set_index([1]).drop(columns=[7]).rename(columns=({4:'Region Longitude', 5:'Region Latitude'})),
                         on=['Region_temp'], how='left')

len(df_joined2)

18270

In [686]:
df_joined2.head()

,County,County code,Year,Fuel type,Region,Count,County Latitude,County Longitude,Region_temp,Region Longitude,Region Latitude
0,Upplands Väsby,114,1/1/2013,Diesel,Stockholms län,846,59.52382,17.91001,Stockholm,59.5,18.0
1,Upplands Väsby,114,1/1/2013,Electric hybrids,Stockholms län,33,59.52382,17.91001,Stockholm,59.5,18.0
2,Upplands Väsby,114,1/1/2013,Electricty,Stockholms län,0,59.52382,17.91001,Stockholm,59.5,18.0
3,Upplands Väsby,114,1/1/2013,Ethanol,Stockholms län,8,59.52382,17.91001,Stockholm,59.5,18.0
4,Upplands Väsby,114,1/1/2013,Gas,Stockholms län,686,59.52382,17.91001,Stockholm,59.5,18.0

In [687]:
df_joined2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18270 entries, 0 to 18269
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   County            18270 non-null  object
 1   County code       18270 non-null  int64
 2   Year              18270 non-null  object
 3   Fuel type         18270 non-null  object
 4   Region            18270 non-null  object
 5   Count             18270 non-null  int64
 6   County Latitude   18270 non-null  float64
 7   County Longitude  18270 non-null  float64
 8   Region_temp       18270 non-null  object
 9   Region Longitude  18270 non-null  float64
 10  Region Latitude   18270 non-null  float64
dtypes: float64(4), int64(2), object(5)
memory usage: 1.5+ MB

In [688]:
df_joined2 = df_joined2.drop(columns='Region_temp')
df_joined2.to_csv('../data/county_registrations_yearly.csv', index=False)